#ignore all
*

#unignore files with extensions
!*.*

#unignore makefiles
!makefile

#unignore directories
!*/

#reignore dependencies, objects, static libraries and shared libraries
*.d
*.o
*.a
*.so

#reignore these input and test files
input
test.txt
