#ignore all
*

#unignore files with extensions
!*.*

#unignore makefiles
!makefile

#unignore directories
!*/

#reignore precompiled headers, dependencies, objects, static libraries and shared libraries
*.pch
*.gch
*.d
*.o
*.a
*.so

#reignore these input and test files
input
test.txt
