#ignore all
*

#unignore files with extensions
!*.*

#unignore makefiles
!makefile

#unignore directories
!*/

#reignore precompiled headers, dependencies, objects, static libraries and shared libraries
*.pch
*.gch
*.d
*.o
*.a
*.so

#reignore the temp directories in case of leftover temp files
tmp/

#reignore input and test input files
input
test.txt
